bin/
lib64/
lib/
pyvenv.cfg
venv/
.env
.git
__pycache__
*.pyc
.gitignore

# Sqlite database files
*.db
*.db
*.db-wal
*.db-shm
*.log
*.sqlite3

#IDE stuff
.vscode/
.idea/

# Nginx

# Ignore any active overrides generated locally
nginx/config_overrides/*.conf

# Explicitly allow the inactive templates
!nginx/config_overrides/*.inactive