[Unit]
Description=CasterPak Video On Demand streaming service
Documentation=https://github.com/flipmcf/CasterPak/blob/master/Readme.md
After=network.target auditd.service

[Service]
WorkingDirectory=/home/casterpak/CasterPak
ExecStart=/home/casterpak/env/bin/python3 -m gunicorn --workers 3 --log-file=/var/log/casterpak.log --bind unix:/home/casterpak/CasterPak/casterpak.sock -m 777 casterpak:app


[Install]
Alias=casterpak.service
