[Unit]
Description=CasterPak Video On Demand streaming service
Documentation=https://github.com/flipmcf/CasterPak/blob/master/Readme.md
After=network.target auditd.service

[Service]
WorkingDirectory=/home/casterpak/CasterPak
ExecStart=/home/casterpak/env/bin/python3 -m gunicorn
user=casterpak
group=casterpak

[Install]
Alias=casterpak.service
