#Copyright (c) 2022, Michael McFadden & Radio Free Asia
#GNU GENERAL PUBLIC LICENSE Version 2
#See file LICENCE or visit https://github.com/flipmcf/CasterPak/blob/master/LICENSE
[Unit]
Description=CasterPak Video On Demand streaming service
Documentation=https://github.com/flipmcf/CasterPak/blob/master/Readme.md
After=network.target auditd.service

[Service]
WorkingDirectory=/home/casterpak/CasterPak
ExecStart=/home/casterpak/env/bin/python3 -m gunicorn
User=casterpak
Group=casterpak

[Install]
WantedBy=multi-user.target
Alias=casterpak.service
