services:
  casterpak:
    build: .
    image: casterpak:0.8.0-alpha
    container_name: casterpak_server
    
    # Map the host port 5000 to the container port 5000
    #ports:
    #  - "${APP_PORT:-5000}:5000"
    expose:
      - "5000"  # Expose port 5000 to other containers (like nginx)

    # Environment variables (overrides for your config logic)
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
      - CASTERPAK_FILESYSTEM_VIDEOPARENTPATH=/mnt/data
      #and we want to send all logs to stdout/stderr
      - CASTERPAK_LOGGING_ACCESS_LOG=-
      - CASTERPAK_LOGGING_ERROR_LOG=-
      - CASTERPAK_LOGGING_CACHE_LOG=-

    # Volume mappings connect your real files to the container
    volumes:
      # 1. Mount your local config file (Read-Only)
      # 2. Your source video files (Change left side to your actual path)
      - ${HOST_VIDEO_PATH:-~/Videos}:/mnt/data
      
      # 3. Persistent cache directories (so they survive container restarts)
      # ./tmp/video_input:/tmp/video_input
      # - /tmp/segments:/tmp/segments
      
    # Ensures the container restarts automatically if it crashes or your PC reboots
    restart: unless-stopped

  nginx:
    build: ./nginx
    image: flipmcf/casterpak-proxy:0.8.0-alpha
    container_name: casterpak_nginx
    ports:
      - "80:80"
    depends_on:
      - casterpak