services:
  casterpak:
    build: .
    image: flipmcf/casterpak:0.8.0-alpha
    container_name: casterpak_server
    
    # Map the host port 5000 to the container port 5000
    #ports:
    #  - "${APP_PORT:-5000}:5000"
    expose:
      - "5000"  # Expose port 5000 to other containers (like nginx)

    # Environment variables (overrides for your config logic)
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
      - CASTERPAK_FILESYSTEM_VIDEOPARENTPATH=/mnt/data
      - CASTERPAK_OUTPUT_SERVERNAME=${CASTERPAK_OUTPUT_SERVERNAME:-localhost}
      #and we want to send all logs to stdout/stderr
      - CASTERPAK_LOGGING_ACCESS_LOG=-
      - CASTERPAK_LOGGING_ERROR_LOG=-
      - CASTERPAK_LOGGING_CACHE_LOG=-

    # Volume mappings connect your real files to the container
    volumes:
      # 1. IF YOU ARE USING FILESYSTEM CONFIG for input (recommended)
      # map the local path to source video files (Change left side to your actual path)
      # best placed in .env - run 'setup.sh'
      - ${HOST_VIDEO_PATH:-~/Videos}:/mnt/data
      
      # 3. Persistent cache directories (so they survive container restarts)
      # IF YOU DO NOT MOUNT THESE, CasterPak will have to re-generate all segments and metadata on every restart.
      # ./tmp/video_input:/tmp/video_input
      # - /tmp/segments:/tmp/segments
      
    # Ensures the container restarts automatically if it crashes or if the server restarts
    restart: unless-stopped

  nginx:
    build: 
      context: .
      dockerfile: ./nginx/Dockerfile
    image: flipmcf/casterpak-proxy:0.8.0-alpha
    container_name: casterpak_nginx
    ports:
      - "80:80"
    depends_on:
      - casterpak